In [9]:
# pd.concat
import pandas as pd
import numpy as np
df1=pd.DataFrame(np.random.randn(3,4),columns=['a','b','c','d'])
df2=pd.DataFrame(np.random.randn(3,4),columns=['a','b','c','d'])
df3=pd.concat((df1,df2))
df3

          a         b         c         d
0 -1.083511 -0.181084 -0.450084  1.517361
1  0.017115  0.764340  0.274020  2.387146
2  0.370530 -0.307866 -0.113099  1.414135
0 -0.393742 -0.989591 -0.840147 -1.454116
1  1.368823 -3.372421 -1.900511  0.330781
2 -1.057622  1.003916 -1.708487  1.640702

In [20]:
# axis
import pandas as pd
import numpy as np
df1=pd.DataFrame(np.random.randn(3,4),columns=['a','b','c','d'],index=range(3))
df2=pd.DataFrame(np.random.randn(3,4),columns=['a1','b1','c1','d'],index=range(2,5))
df3=pd.concat((df1,df2),axis=1)
df3

          a         b         c         d        a1        b1        c1
0 -0.267026  1.356558 -1.401710  0.356671       NaN       NaN       NaN
1  1.778928 -1.024867 -1.274916 -0.468888       NaN       NaN       NaN
2  0.037969 -1.657198 -1.001347 -0.374836       NaN       NaN       NaN
2       NaN       NaN       NaN  2.297578 -0.271638 -1.128641  0.044169
3       NaN       NaN       NaN -1.622027  1.111997  0.169277 -0.716144
4       NaN       NaN       NaN  0.390085 -2.042652 -0.137004  0.363239

pd的concat和join差不太多，如果`axis=1`按照列连接，那么结果是两个df的相同的index的行会拼成长行
pd的concat和join差不太多，如果`axis=0`按照行连接，那么结果是两个df的相同的column会拼成长列

In [15]:
# ignore_index
import pandas as pd
import numpy as np
df1=pd.DataFrame(np.random.randn(3,4),columns=['a','b','c','d'])
df2=pd.DataFrame(np.random.randn(3,4),columns=['a','b','c','d'])
df3=pd.concat((df1,df2),axis=0,ignore_index=True)
print(df3)

df1=pd.DataFrame(np.random.randn(3,4),columns=['a','b','c','d'])
df2=pd.DataFrame(np.random.randn(3,4),columns=['a','b','c','d'])
df3=pd.concat((df1,df2),axis=1,ignore_index=True)
print(df3)

          a         b         c         d
0 -0.122941  1.976797  0.794050 -0.872766
1  0.433476 -0.522690 -1.696731  0.597313
2  1.549514 -1.234578  0.797289 -1.290669
3  0.540897  0.852974 -0.107545  0.592963
4  0.832803  0.624818  0.485360 -1.225558
5  0.990799 -0.843381 -0.807105  0.042075
          0         1         2         3         4         5         6  \
0 -0.179264  0.925595  0.852629 -0.790640 -1.260939  1.232942 -1.369797
1 -0.516848  0.982403  0.996948  0.268578 -1.023261  0.156147 -0.051059
2  0.468082  0.427007  0.222243 -0.964614 -1.439915  0.624484  0.946398

          7
0  0.980104
1 -2.410296
2 -2.315322

当`axis=0`且`ignore_index=True`的时候，此时按行连接，`ignore_index=True`的含义是，生成的df3的index会重新排列，不使用原来的index合并起来作为新的index
可以看到df3的index是0~5而非0，1，2，0，1，2