In [1]:
# 修改列类型

import pandas as pd

data = pd.DataFrame([[1, "2"], [2, "2"]])
data.columns = ["one", "two"]

print(data)

# 当前类型
print("----\n修改前类型：")
print(data.dtypes)

# 类型转换
data[["two"]] = data[["two"]].astype(int)

# 修改后类型
print("----\n修改后类型")
print(data.dtypes)

   one two
0    1   2
1    2   2
----
修改前类型：
one     int64
two    object
dtype: object
----
修改后类型
one    int64
two    int64
dtype: object

下面讲解stack和unstack

In [36]:
# unstack
import pandas as pd
import numpy as np

data_arr= np.concatenate((np.arange(15).reshape((5,3)),np.array([0,1,0,1,0]).reshape([-1,1])),axis=1)

# pandas的dataframe有两个索引维度，一个是index一个是column，下面的例子里，这个df的index叫做state，这个df的column被命名为number

data = pd.DataFrame(data_arr,index=pd.Index(["a","a","b","b","c"],name='state')
                   ,columns=pd.Index(['one','two','three',"date"],name='number'))
data

number  one  two  three  date
state
a         0    1      2     0
a         3    4      5     1
b         6    7      8     0
b         9   10     11     1
c        12   13     14     0

In [37]:
reset_data=data.reset_index()
reset_data

number state  one  two  three  date
0          a    0    1      2     0
1          a    3    4      5     1
2          b    6    7      8     0
3          b    9   10     11     1
4          c   12   13     14     0

In [42]:
print(reset_data.index)
print(reset_data.columns)

new_index_data=reset_data.set_index(["state","date"])
print(new_index_data.index)
new_index_data

RangeIndex(start=0, stop=5, step=1)
Index(['state', 'one', 'two', 'three', 'date'], dtype='object', name='number')
MultiIndex([('a', 0),
            ('a', 1),
            ('b', 0),
            ('b', 1),
            ('c', 0)],
           names=['state', 'date'])

number      one  two  three
state date
a     0       0    1      2
      1       3    4      5
b     0       6    7      8
      1       9   10     11
c     0      12   13     14

In [39]:
# 解堆叠，level=-1代表从最内层解开，这个操作相当于行转列
new_index_data.unstack(level=-1)

number   one        two       three
date       0    1     0     1     0     1
state
a        0.0  3.0   1.0   4.0   2.0   5.0
b        6.0  9.0   7.0  10.0   8.0  11.0
c       12.0  NaN  13.0   NaN  14.0   NaN

In [40]:
# stack
import pandas as pd
import numpy as np

data_arr= np.concatenate((np.arange(15).reshape((5,3)),np.array([0,1,0,1,0]).reshape([-1,1])),axis=1)

data = pd.DataFrame(data_arr,index=pd.Index(["a","a","b","b","c"],name='state')
                   ,columns=pd.Index(['one','two','three',"date"],name='number'))
data

number  one  two  three  date
state
a         0    1      2     0
a         3    4      5     1
b         6    7      8     0
b         9   10     11     1
c        12   13     14     0

In [41]:
# 堆叠，相当于列转行
data.stack()

state  number
a      one        0
       two        1
       three      2
       date       0
       one        3
       two        4
       three      5
       date       1
b      one        6
       two        7
       three      8
       date       0
       one        9
       two       10
       three     11
       date       1
c      one       12
       two       13
       three     14
       date       0
dtype: int64